/* filter-card */
.filter-card {
    background-color: white;
    border-radius: 10px;
    padding: 10px 15px;
}
    /* filter-title */
.filter-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: var(--color-1c1c1b);
}

.filter-categories ul,
.form-check .form-check-label {
    font-size: 13px;
    line-height: 30px;
    list-style: none;
    color: var(--color-777777);
    cursor: pointer;
}
        /* sub-title */
.sub-title {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-1c1c1b);
    margin-bottom: 15px;
    margin-top: 15px;
}

        /* form-check */
.form-check .form-check-input:checked {
    background-color: var(--color-febd69);
    border-color: var(--color-febd69);
}

.form-check .form-check-input:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, 0.25);
}
